.content-section-b, .group {
    background-color: #000;
    border:none;
}

.race {
    background-image: url(../img/race/race.jpg);
    position: relative;
    padding-bottom: 40px;
}

.race:before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: -1;
}

.pink {
    color: #FF358B;
}

.charcoal {
    color: #333;
}

.slate {
    color: #666;
}

.brooke, .blue {
    color: #01B0F0;
}

.ash, .green {
    color: #AEEE00;
}

.banner-wrap {
    margin-bottom: 40px;
}

.banner-title {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    text-shadow: -1px -1px white;
}

.banner-date {
    background: black;
    font-size: 1.6rem;
    color: #eaeaea;
    font-weight: bold;
}

.banner-title.green {
    background: #AEEE00;
}

.banner-title.pink {
    background: #FF358B;
}

.banner-title.blue {
    background: #01B0F0;
}

.blackout {
    background: rgba(0, 0, 0, .7);
    padding: 20px;
}

.navbar-default .navbar-toggle:hover:before, .navbar-default .navbar-toggle:focus:before {
    color: #FF358B;
}

.navbar-toggle:hover:before, .navbar-toggle:focus:before {
    color: #FF358B;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FF358B;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FF358B;
}

.race-list .menuItem {

}

.race-list .menuItem a {
    font-size: 2rem;
    color: #AEEE00;
}

.group-links {
    padding: 20px 0;
}